@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
    position: relative;
    min-height: calc(100vh - 20px * 2);
    background-color: #00452e;
    border: 20px solid #79471b;
    margin: 0;
    font-family:'Indie Flower', cursive;
}

object {
    width: 4rem;
    display: block;
    margin: 0 auto;
    height: 4rem;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 4rem;
    margin: 0.5rem auto;
}

p{
    text-align: center;
    color: #ffffff;
    font-size: 1.5rem;
    margin: 0px 220px ;
}

button {
    display: block;
    background: #79471b;
    border: 0;
    color: #00452e;
    font-size: 2rem;
    margin: 0 auto 2rem;
}

p.box {
    min-height: 6rem;
    color: aqua;
    text-align: center;
    font-size: 4rem;
    margin: 2rem auto;
}

h3{
    margin: auto auto;
    color: #00452e;
    font-size: 1px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00452e;
    font-size: 25px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #79471b;
}

li a.selected{
    color: yellowgreen;
  }
  
  li.right{
    float: right;
  }

  .vertical-menu {
    width: 200px;
    position: fixed;
    top: 30%;
    }
            
.vertical-menu a {
    background-color:#79471b;
    color: white;
    display: block;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    
}
            
.vertical-menu a:hover {
    background-color:#00452e;
}


            
a{
    color: #79471b;
}

table, td, tr{
    padding: 5px;
    border: 1px solid white;
    color: #ffffff;

}

table{
    position: center;
    text-align: center;
    margin: 1rem auto;

}

